{#
/**
 * @file project.html.twig
 * Default theme implementation to present project data.
 *
 * This template is used when rendering an project.
 *
 *
 * Available variables:
 * - view_mode: The name of the view mode in plain text.
 * - content: The content of the project.
 *
 * @see template_preprocess_project()
 *
 * @ingroup themeable
 */
#}
{{ content }}
