{#
/**
 * @file organization.html.twig
 * Default theme implementation to present organization data.
 *
 * This template is used when rendering an organization.
 *
 *
 * Available variables:
 * - view_mode: The name of the view mode in plain text.
 * - content: The content of the organization.
 *
 * @see template_preprocess_organization()
 *
 * @ingroup themeable
 */
#}
{{ content }}
